*{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    gap: 10px;
    background-color: #1F2937;
}
.container > .item{
    font-size: 18px;
    color: #E5E7EB;
    justify-content: end;
    align-self: center;

}
.container > .logo{
    font-weight: bolder;
    font-size: 24px;
    color: #F9FAF8;
    flex: 1;
    justify-content: start;
    margin: auto;
}
